{% extends "base.html.twig" %}
{% block title %}Login Usuario{% endblock %}

{% block body %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}